@charset "UTF-8";
#content_title{
    font-size:22px; font-weight:600;
}
#content_article2{
    padding-top:30px;
}
#article2_tab{
    border-collapse: collapse;
    width:1010px;
}
#article2_tab tr{
    border-bottom:1px solid #ddd;
    
}
#title_td{
    height:66px; padding:20px 120px 20px 20px;
    border-top:1px solid #ddd;
}
#title_td, #title_td span {
    font-size:17px;
}
#content_td, #content_td span {
    font-size:13px;
}
#category{
    color:#e3246c;
}
#content_td{
    padding:20px 20px;
}
#content_article3{
    width:1010px;
}
#list_btn{
    display:inline-block;
    width:140px; height:56px;
    text-align:center; font-size:17px; font-weight:600;
    color:white; background:#e2236d;
    margin-left:435px; margin-top:20px; margin-bottom:120px;
    border-radius:5px; line-height:56px;
    cursor:pointer;
}
#answer{
    width:100%; min-height:20px;
    background:#ddd; margin-top:20px;
    padding:20px 20px;
}